// For Mobile: < 740px
@media only screen and (max-width: 46.1875em) {
  .container {
    width: calc(100% - 20px);
    margin: 80px 10px 0;
    padding-inline: 30px;
    background-color: var(--border);
    border-radius: 10px;
  }

  .header {
    &__inner {
      #btn-menu {
        display: block;
        cursor: pointer;
        & i {
          font-size: 35px;
        }
      }
      padding: 0 7%;
      @include flex(space-between, center);
      position: relative;
      & nav {
        z-index: 999;
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: var(--border);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 10px;
        width: 100%;
        .navigation {
          flex-direction: column;
          line-height: 50px;
          & li,
          li:last-child {
            padding-block: 10px;
            margin: 0;
          }
        }
        .notification {
          // display: none;
          line-height: 50px;
          flex-direction: column;
          & li {
            &:last-child {
              margin-left: 0;
            }
          }
        }
      }
      &-action {
        display: none;
      }
    }
  }

  .home {
    &__inner {
      flex-direction: column-reverse;
      &-introduction {
        padding-top: 30px;
        & h1,
        h2 {
          text-align: center;
        }
        &-action {
          &-item {
            width: 60px;
            height: 60px;
            margin: 20px 20px 0 0;
            padding: 10px;
            & i {
              font-size: 25px;
              transform: translate(15%, 20%);
            }
            &:last-child {
              width: 200px;
              height: 60px;
              & a {
                font-size: 20px;
                & i {
                  font-size: 35px;
                  transform: translate(0px, 2px);
                }
              }
            }
            &:hover {
              &:last-child {
                font-size: 25px;
                letter-spacing: 3px;
                & a {
                  & i {
                    font-size: 40px;
                  }
                }
              }
            }
          }
        }
      }
      &-avatar {
        padding-top: 40px;
        & img {
          width: 300px;
          height: 300px;
        }
      }
    }
  }

  .about {
    &__inner {
      &-main {
        display: grid;
        grid-template-columns: 1fr;
        &-informations {
          display: grid;
          grid-template-columns: 1fr;
        }
        &-skills {
          width: 100px;
          margin-bottom: 200px;
        }
      }
    }
  }

  .services {
    &__inner {
      &-heading {
        max-width: 200px;
        margin: 30px auto;
      }
      &-content {
        margin: 0px 10%;
        max-width: calc(100vw);
        display: grid;
        grid-template-columns: 1fr;
      }
    }
    margin-bottom: 200px;
  }

  .contact {
    &__inner {
      &-action {
        & form {
          .area_input {
            display: grid;
            grid-template-columns: 1fr;
            & input {
              display: block;
            }
          }
        }
      }
    }
  }
}

// For Tablet: 740px to 1204px
@media only screen and (min-width: 46.25em) and (max-width: 75.25em) {
  .header {
    display: none;
  }
}

// For Desktop: >= 1205px
@media only screen and (min-width: 75.3125em) {
}
